* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    text-decoration: none;
}

header {
    position: relative;
    background-color: #dccfc5;
}

img {
    display: block;
    width: 100%;
}

.menusuperior {
    position: absolute;
    top: 60px;
    right: 20px;
    display: flex;
}

.menusuperior a {
    margin-right: 26px; 
    padding: 14px; 
    background-color: #87b3cb00;
    text-decoration: none;
    color: #e54529;
    border: 1px solid #e54529;
    border-radius: 10%; 
}

a:hover {
    text-shadow:0px 0px 10px #2dacc3;

}

main{
    display: flex;
    width: auto;
    height: auto;
    gap: 20px;
    background-color: #dccfc5;
     
}

#menuesquerda{
    display: flex;
    width: auto;
    flex: 1;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}

ul {
    color: #e54529;
    margin-top: 20px;
    margin-left: 10px;
    
    
}

li{
    color: #2dacc3;
    margin-top: 5px;
    margin-left: 40px;
    list-style: circle;
    text-decoration: none;
    
}


.conteudocentral{
    display: flex;
    flex: 3;
    flex-direction: column;
    width:auto;
    height: auto;
    background-color: #87b3cb;
    
}

fieldset{
    border: 1px double #e54529;
    color: #2dacc3;
    margin-top: 14px;
}

fieldset a{
    display: flex;
    width: auto;
    height: auto;
    align-items: end;
    text-decoration: none;
    gap: 10px;
}
p{
    padding-left: 40px;
    color: #dc6b3e;
}


aside{
    display: flex;
    flex: 2;
    height: auto;
    width: 200px;
    height: auto;
    background-color: #fab43d;
    text-align: center;
    align-items: center;
    color: #e54529;
    border-radius: 3%;
    margin-top: 23px;
    margin-right: 34px;
    padding-right: 30px;
}

iframe{
    padding-left: 16px;
    gap: 20px;
}

#music{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

footer{
    display: flex;
    width: 100%;
    height: auto;
    text-align: center;
    border: solid 1px  #87b3cb;
    background-color: #e54529;
    color: #dccfc5;
    align-items: center;
    justify-content: center;
}

h4{
    color: #dccfc5;
}